<%- include('bootheader') -%>

<%- include('menubar') -%>


    <div class="jumbotron">
        <h1>
          Google Abusive Experience Report Lookup
        </h1>
    </div>

    <div style= margin:20; padding:10>
      <div>

          <h1 class="bg-info"> Site: <%= url %></h1>

          <% if (abusiveStatus == "FAILING"){
            var bg_class = "bg-warning"
          }else if (abusiveStatus == "PASSING") {
            var bg_class = "bg-success"
          }else if (abusiveStatus == null){
            var bg_class = "bg-secondary"
            abusiveStatus = "NO DATA"
          }else{
            var bg_class = "bg-secondary"
          }%>
          <h1 class= <%= bg_class%>> Status: <%= abusiveStatus %> </h1>
      </div>

      <form method="post" action="/jsonResult">
          <input type="text" name="url"> URL of website to check (format: example.com)<br>
          <input type="text" name="key" value=<%= key%> hidden='true'> <br>
          <input type="submit">
      </form>
    </div>

<%- include('bootfooter') -%>
