<%- include('bootheader') -%>

<%- include('menubar') -%>

<% if( true || user.username == "" || user.username == null ) { %> 
  <h2>Thanks for joining!</h2>
  <h4>Please set a display name before joining a game.</h4>
  <a class="btn btn-danger" href="/profile">
    <span> Click me</span>
  </a>
<% } %>

<br>
<br>

<table class="table table-bordered table-striped">
  <% gameApp.waitingRooms.forEach(waitingRoom => {%>
    <tr>
      <td>Room <%= waitingRoom.roomID %></td>
      <td>Players: <%= waitingRoom.playerCount %> / <%= waitingRoom.maxPlayers%></td>
      <td><% if(waitingRoom.isAvailable) { %> 
          <form method="post" action ="/selectRoom">
          <input type="text" name="roomnumber" size="60" hidden='true' value='<%= waitingRoom.roomID%>' />
          <input type="submit" value="Join"/>
        </form>
        <% } %>
      </td>

      
    </tr>
  <% }) %>
</table>





  <%- include('bootfooter') -%>